/* Estilos existentes */

@font-face {
    font-family: '911porschav3bold';
    src: url('../../utils/fonts/911porschav3bold.ttf');
}

@font-face {
    font-family: 'nunito';
    src: url('../../utils/fonts/Nunito-Regular.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
}

.container-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* Adiciona z-index para garantir que o overlay esteja acima do vídeo */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    /* Adiciona z-index para garantir que o conteúdo esteja acima do overlay */
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.title {
    font-family: '911porschav3bold';
    font-size: 56px;
}

.container-cb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption {
    font-family: 'nunito';
    font-size: 24px;
}

.button {
    background-color: #f1c40f00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'nunito';
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid white;
    transition: background-color var(--p-transition-duration, 0.25s) cubic-bezier(0.25, 0.1, 0.25, 1), border-color var(--p-transition-duration, 0.25s) cubic-bezier(0.25, 0.1, 0.25, 1), color var(--p-transition-duration, 0.25s) cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:hover {
    background-color: rgba(148, 149, 152, 0.18);
    border-color: rgb(136, 137, 140);
    backdrop-filter: blur(32px);

}

.video-control {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    transition: background-color var(--p-transition-duration, 0.25s) cubic-bezier(0.25, 0.1, 0.25, 1), border-color var(--p-transition-duration, 0.25s) cubic-bezier(0.25, 0.1, 0.25, 1), color var(--p-transition-duration, 0.25s) cubic-bezier(0.25, 0.1, 0.25, 1);
}

.video-control:hover {
    background-color: rgba(148, 149, 152, 0.18);
    border-color: rgb(136, 137, 140);
    backdrop-filter: blur(32px);

}

.play {
    width: 17px;
    height: 17px;
}

.pause {
    width: 17px;
    height: 17px;
}

.container-novidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* Estilos base */
.container-novidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
}

.title-novidades {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    padding-bottom: 35px;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
}

.container-cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.card {
    min-width: 100%;
    box-sizing: border-box;
    /* padding: 20px; */
    text-align: center;
    background-color: #f9f9f9;
}

.card-image {
    height: 350px;
    background-color: #eee;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo para quando a imagem não carregar */
    overflow: hidden;
}

.card-title {
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-caption {
    display: block;
    color: #666;
}

/* Estilos para os controles do carrossel */
.carousel-size {
    width: 100%;
    display: flex;
    justify-content: center;    
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 90%;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.5em;
    transition: background-color 0.3s;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Assegura que a imagem cubra a área do container */
    transition: transform 0.4s;
    cursor: pointer;
}

.card-image img:hover {
    transform: scale(1.03);
}



